<<<<<<< HEAD
*
{
	padding: 0px;
	margin: 0px;
}

.nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
	position: relative;
	background-color: black;
}

background-color : blue; 
=======
*{
	margin: 0px;
	padding: 0px;
}
>>>>>>> 3d176322ddab9388acf4eb3389e57197dbc395e5
