*{
	padding: 0px;
	margin: 0px;
}
#header{
	background-color: blue;
	width: 100%;
	height: 50px;
}
.menu2{
	position: absolute;
	z-index: 1;
	top: 0px;
	text-decoration: none;
	color: white;
	font-size: 30px;
	float: right;
	position: none;
	right: 90px;
	
}
header{
	float: right;
}