
.title{
  margin: 50px auto 0 auto;
  text-align:center;
  color: #fff;
  font-size: 32px;
}

.gallery.box{
  position: relative;
  right: 30px;
  width: 320px;
  height:405px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1%;
  border: 10px #fff solid;
}

.gallery .card{
	position: relative;
}

.gallery .background, .gallery .column{
  height: 405px;
}

.gallery .column{
  width: 100%;
  float: left;
}

.gallery .column.col1{
  background: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/26814998_885407318286128_6199044592536706166_n.jpg?_nc_cat=0&oh=2763c447ff29c7fb4a70ddbfedaf14b9&oe=5BC1DEB2");
  background-repeat: no-repeat;
  max-width: 350px;
  height: 405px;
}
.gallery .column.col2{
  background-image: url("https://1.bp.blogspot.com/-Leo9tZSkx3o/WxOToChajYI/AAAAAAAAA7I/IXvMOjd7XKIHan9_I3Y4w0XbeFNZ1oANwCLcBGAs/s1600/smile.png");
  background-repeat: no-repeat;
  max-width: 350px;
  height: 405px;
}
.gallery .column.col3{
  background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/31670621_2061316257217236_3438379091500204032_n.jpg?_nc_cat=0&oh=f05e12fb3e5ac0f860453f174bffd014&oe=5B7D262F");
  background-repeat: no-repeat;
  max-width: 350px;
  height: 405px;
}


.gallery .overlay{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	opacity: 0;
  background-color: #000;
	-webkit-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.gallery .info,
.gallery .foot{
	-webkit-transition: bottom 0.35s;
	-o-transition: bottom 0.35s;
	transition: bottom 0.35s;
}

.gallery .info{
	position: absolute;
	bottom: -35px;
	width: 100%;
}

.gallery .info h2 a{
  color: #fff;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration:none;
}

.gallery .info h2{
	line-height: 24px;
	font-size: 18px;
  padding: 0 10px;
  font-weight: 400;
}

.gallery .foot{
	height: 35px;
	bottom: -35px;
	position: relative;
	color: #fff;
  padding: 0 10px;

}

.gallery .foot .social{
	float: right;
	color: #fff;
	font-size: 20px;
	margin-left: 20px;
}

.gallery .foot .line{
	height: 2px;
	display: block;
	margin: 10px 0;
  background-color: #fff;
  margin-top: 20px;
  width: 0%;
  transition: width 0.6s;
}

.gallery .date{
  font-weight: 300;
}

.gallery .fa-camera-retro{
  top: 0;
  left: 0;
  padding: 10px 10px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  transition: font-size 0.35s;
}

/* All hovers here! */
.gallery:hover .info,
.gallery:hover .foot{
	bottom:10px;
}

.gallery:hover .overlay{
	opacity: 0.5;
}

.gallery:hover .foot .line{
  width: 100%;
}

.gallery:hover .fa-camera-retro{
  font-size:32px;
}
